
@{
    ViewData["Title"] = "Studying process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wow, u realy came here 0_o</h1>

<p>So u r really good to do anything, for example:</p>
<ul>
    <li><a asp-action="Teachers">Look at teacher list</a></li>
    <li><a asp-action="Lessons">Look at lesson list</a></li>
</ul>

