
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        To finish your registration please confirm you email
    </div>
    <div class="row">
        <a asp-controller="Home" asp-action="Index">Back to main page</a>
    </div>
</div>

