
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Please check your email to reset your password.
</p>
<a asp-action="Index" asp-controller="Home">Back to main page</a>