@model GroupFindViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <title>Group find</title>
</head>
<body>
    <partial name="Header" />
    <div class="container">
        <div class="row justify-content-center">
            <h3 style="text-align:center">Select a group</h3>
        </div>
        <div class="row justify-content-center">
            <div class="container">
                <form asp-controller="Home" asp-action="GroupFind" method="post" style="text-align:center">
                    <div class="row justify-content-center">
                        <input type="text"
                               id="inputedName"
                               name="inputedName"
                               list="groupList"
                               asp-for="SelectedGroup"
                               placeholder="Select group"
                               oninput="getEntitiesByPartName(this.value, 'group')"
                               autocomplete="off"
                               style="margin-right:10px; width:30%; text-align:center"
                               required
                               min="5"/>
                        <input type="submit" value="Show schedule" style="margin-left:10px" />
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedGroup"></span>
                    </div>
                    <datalist id="groupList" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function getEntitiesByPartName(name, entityName) {
        $.ajax({
            url: "https://api.rozklad.org.ua/v2/" + entityName + "s/?search={'query':'" + name.toString().trim() + "'}",
            type: 'GET',
            contentType: "application/json",
            success: function (root) {
                var list = $("#" + entityName + "List");
                list.empty();
                if (entityName.length > 1 && entityName.length < 8)
                    $.each(root.data, function (index, entity) {
                        var option = document.createElement('option');
                        if (entityName == "group")
                            option.value = entity.group_full_name.toUpperCase();
                        else if (entityName == "teacher")
                            option.value = entity.teacher_full_name;
                        list.append(option);
                    })
            }
        });
    }
</script>
}