
@{
    Layout = null;
}
@model Group
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GroupSchedule</title>
</head>
<body>
    @Html.Partial("Header");
    <h1>U r looking on the schedule of the @Model.Title</h1>

</body>
</html>
