@model GroupScheduleViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GroupSchedule</title>
</head>
<body>
    @Html.Partial("Header")
    <h1 align="center">U r looking on the schedule of the @Model.Group.FullName</h1>
    @foreach (ResponseLessonDataForGroup lesson in Model.Lessons)
    {
        <h3>@lesson.FullName</h3>
    }
</body>
</html>
