
@{
    Layout = null;
}
@model  List<Group>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Group find</title>
</head>
<body>
    @Html.Partial("Header");
    <form method="post" action="~/Home/GroupSchedule">
        <table>
            @foreach (var group in Model)
            {
                <tr>
                    <td>
                        @group.Id
                    </td>
                    <td>
                        @group.Title
                    </td>
                    <td>
                        <input type="submit" value="GO">
                        @*<a href="~/Home/GroupSchedule">Look on group schedule</a>*@
                    </td>
                </tr>
            }
        </table>
    </form>
      
</body>
</html>