
@{
    Layout = null;
}
@model IEnumerable<Group>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Group find</title>
</head>
<body>
    @Html.Partial("Header")
    <form asp-controller="Home" asp-action="GroupSchedule" method="post">
        <select name="id">
            @foreach (var group in Model)
            {
                <option value=@group.Id>@group.Title</option>
            }
        </select>
        <input type="submit" value="Show schedule" />
    </form>
</body>
</html>