@model GroupFindViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Group find</title>
</head>
<body>
    @Html.Partial("Header")
    <h3 style="text-align:center">Please select group</h3>
    <form asp-controller="Home" asp-action="GroupSchedule" method="post" style="text-align:center">
        <select name="id">
            @foreach (ResponseGroupData group in Model.Groups)
            {
                <option value=@group.Id>@group.FullName</option>
            }
        </select>
        <input type="submit" value="Show schedule" />
    </form>
</body>
</html>