<h1 style="text-align:center">Hello!</h1>
<h2 style="text-align:center">Current time is: @DateTime.Now.ToString()</h2>
<table align="center">
    <tr>
        <td>
            <a style="font-size:x-large" href="~/Home/GroupFind">Group schedule</a>
        </td>
        <td></td>
        <td>
            <a style="font-size:x-large" href="~/Home/TeacherFind">Teacher schedule</a>
        </td>
    </tr>
</table>
