@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Hello!</h1>
<h2>Current time is: @DateTime.Now.ToString()</h2>
<table>
    <tr>
        <td>
            <a href="~/Home/GroupFind">Group schedule</a>
        </td>
        <td>
            <a href="~/Home/TeacherFind">Teacher schedule</a>
        </td>
    </tr>
</table>
