
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>Hello!</h1>
    <h2>Current time is: @DateTime.Now.ToString()</h2>
</body>
</html>
