@model Schedule.Models.Teacher

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherSchedule</title>
</head>
<body>    
    @Html.Partial("Header");
    <h1>U r looking on the schedule of the @Model.Title</h1>
</body>
</html>
