@model TeacherFindViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherFind</title>
</head>
<body>
    @Html.Partial("Header")
    <h3 style="text-align:center">Select a teacher</h3>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <form asp-controller="Home" asp-action="TeacherSchedule" method="post" style="text-align:center">
        <span asp-validation-for="Teachers" />
        <select name="id" id="SelectedTeacher">
            @foreach (ResponseTeacherData teacher in Model.Teachers)
            {
                <option value=@teacher.Id>@teacher.FullName</option>
            }
        </select>
        <input type="submit" value="Show schedule" />
    </form>
</body>
</html>
