@model IEnumerable<Teacher>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherFind</title>
</head>
<body>
    @Html.Partial("Header")
    <h3 style="text-align:center">Select a teacher</h3>
    <form asp-controller="Home" asp-action="TeacherSchedule" method="post" style="text-align:center" >
        <select name="id">
            @foreach (var teacher in Model)
            {
                <option value=@teacher.Id>@teacher.Title</option>
            }
        </select>
        <input type="submit" value="Show schedule" />
    </form>
</body>
</html>
