@model TeacherScheduleViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherSchedule</title>
</head>
<body>
    @Html.Partial("Header")
    <h1 align="center">U r looking on the schedule for teacher @Model.Teacher.FullName</h1>
    <ul>
        @foreach (var lesson in Model.Lessons)
        {
            <li>@lesson.FullName</li>
        }
    </ul>
</body>
</html>
