@model Teacher

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherSchedule</title>
</head>
<body>
    @Html.Partial("Header")
    <h1 align="center">U r looking on the schedule of the @Model.Title</h1>
    <table border="1" align="center" style="border-collapse:collapse">
        @for (int i = 0; i < 2; ++i)
        {
            <tr>
                @foreach (var dayOfWeek in ViewBag.Days)
                {
                    <td align="center">
                        <h3>
                            <b>
                                @dayOfWeek
                            </b>
                        </h3>
                    </td>
                }
            </tr>
            <tr>
                @foreach (var day in ViewBag.Days)
                {
                    <td align="center">
                        <table border="1">
                            @foreach (var number in ViewBag.Numbers)
                            {
                                <tr>
                                    <td align="center">
                                        <i>
                                            @number
                                        </i>
                                        @foreach (var lesson in ViewBag.Lessons)
                                        {
                                            if (lesson.LessonNumber == number && lesson.DayOfWeek == day && (lesson.WeekMode == WeekMode.Both || lesson.WeekMode == (WeekMode)(i + 1)))
                                            {
                                                <table>
                                                    <tr><h6>@lesson.Id</h6></tr>
                                                    <tr><h6>@lesson.Subject.Title</h6></tr>
                                                </table>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                }
            </tr>
            <tr></tr>
        }
    </table>
</body>
</html>
