@model IEnumerable<Teacher>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherFind</title>
</head>
<body>
    @Html.Partial("Header")
    <form asp-controller="Home" asp-action="TeacherSchedule" method="post">
        <select name="id">
            @foreach (var teacher in Model)
            {
                <option value=@teacher.Id>@teacher.Title</option>
            }
        </select>
        <input type="submit" value="Show schedule" />
    </form>
</body>
</html>
