<table align="center">
    <tr>
        <td>
            <a style="font-size:x-large" href="~/Schedule/GroupFind">Group schedule</a>
        </td>
        <td></td>
        <td>
            <a style="font-size:x-large" href="~/Schedule/TeacherFind">Teacher schedule</a>
        </td>
    </tr>
</table>
