@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Schedule/_ScheduleLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>    
    <h1 style="text-align:center">Please choose some schedule!</h1>
</body>
</html>
