<div class="container">
    <div class="row">
        <a asp-controller="Home" asp-action="Index">Campusom</a>
    </div>
    <div class="row">
        <div class="col">
            <a asp-controller="Schedule" asp-action="Index">Schedule</a>
        </div>
        @*<div class="col">
            <a asp-controller="GroupChat" asp-action="Index">Group chat</a>
        </div>*@
        <div class="col">
            <a asp-controller="StudyingProcess" asp-action="Index">Studying process</a>
        </div>
        <div class="col">
            <a asp-controller="Account" asp-action="Index">Account</a>
        </div>
    </div>
</div>